<!-- Modal -->
<div class="modal fade" id="addComplexPopup" tabindex="-1" role="dialog" aria-labelledby="complexModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="complexModalLabel">Add complex measurement</h4>
			</div>
			<div class="modal-body">
				<!-- Nav tabs -->
				<div>
					<ul id="myTab" class="nav nav-tabs">
						<li class="dropdown active">
							<a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">Complex Measurment Type <b class="caret"></b></a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
								<li th:each="complexType,iter : ${complexTypes}">
									<a th:attr="href='#dropdown'+${iter.count}" tabindex="-1" data-toggle="tab" th:text="${complexType.content.typeName}"></a>
								</li>
							</ul>
						</li>
					</ul>
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade" th:each="complexType,iter : ${complexTypes}" th:attr="id='dropdown'+${iter.count}">
							<form action="#" th:action="@{/measurements/add}" method="post" th:object="${measurementInput}">
							<h4 th:text="${complexType.content.typeName}"></h4>
							<input type="hidden" name="complexDetails.typeCode" th:value="${complexType.content.typeCode}"/>
							<input type="hidden" name="complexDetails.baseMeasurementUri" class="detailsUriInput" />
							<input type="hidden" name="addUri" class="addUriInput" />
							<table class="table table-condensed">
								<tr>
									<th class="text-center">Param</th>
									<th class="text-center">Value</th>
								</tr>
								<tr th:each="parameter : ${complexType.content.params}">
									<td th:text="${parameter.paramName}"></td>
									<td><input type="text" th:attr="required=${parameter.required}" th:field="*{complexDetails.parameters[__${parameter.paramCode}__]}" /></td>
								</tr>
							</table>
							<div>
								<input type="submit" class="btn btn-primary" value="Add measurement" />
							</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>