<div class="panel-heading">
	<h3 class="panel-title">Resources</h3>
</div>
<div class="panel-body">
	<table class="table table-condensed smaller-size">
		<tr>
			<th class="text-center">Resource</th>
			<th class="text-center">Show measurements</th>
		</tr>
		<tr th:each="resource : ${resources}">
			<td><span th:text="${resource.content.name}" /></td>
			<td><a th:href="@{/measurements?resource=} + ${resource.content.name}">
				<span class="glyphicon glyphicon-arrow-right" /></a></td>
		</tr>
	</table>
	<div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
</div>


