.main {
	max-width: 800px;
	margin: auto;
	text-align: center;
}

.btn-group {
	margin: auto;
}

.logo {
	width: 200px;
	height: 100px;
}

.smaller-size {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}